.list-header {
  background-color: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-item {
  display: flex;
  flex-direction: column;
  border: 1px solid darken($off-white, 7%);
  border-top: none;
  color: $dark-grey;
  padding: $s-size;
  text-decoration: none;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
    align-items: center;
  }
  .no_places {
    flex-direction: column;
    text-align: center;
  }
  &__title {
    margin: 0;
    word-break: break-all;
  }
  &__small-title {
    font-size: $s-size;
    font-weight: 300;
  }
  &__sub-title {
    color: $grey;
    font-size: $font-size-small;
  }
  &__data {
    margin: $s-size 0 0 0;
    @media (min-width: $desktop-breakpoint) {
      margin: 0;
      padding-left: $s-size;
    }
    span {
      font-weight: 300;
      margin: 0;
      font-size: $m-size;
    }
    .formatted-price {
      font-weight: 700;
    }
  }
  &__message {
    align-items: center;
    justify-content: center;
    color: $grey;
    padding: $m-size;
    &:hover {
      background: none;
    }
  }
  &__amenities {
    h4 {
      display: none;
    }
    .amenities {
      display: flex;
      &__item {
        padding: 0;
        font-size: $s-size;
        margin: 0;
        &:not(:last-child) {
          &:after {
            content: '.';
          }
        }
      }
    }
  }
  &__place-plan-overview {
    font-size: $s-size;
    span {
      margin-right: 0 !important;
      &:not(:last-child) {
        &:after {
          content: '.';
        }
      }
    }
  }
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}
