.place-plan-overview {
  span {
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__list-item {
    font-size: $s-size;
    span {
      margin-right: 0 !important;
      &:not(:last-child) {
        &:after {
          content: '.';
        }
      }
    }
  }
}
