.place-detail-view {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: $l-size 0;
  &__overview {
    flex: 0 0 65%;
    padding-right: 10rem;
  }
  &__booking-box {
    flex: 1;
  }
  h1 {
    font-size: 3.2rem;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
  }

  &__location {
    color: #484848;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}
