.booking-options-box {
  border: 1px solid #f0eeee;
  padding: 2rem;
  background-color: $off-white;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  .button {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 2rem 0;
    font-weight: 600;
    letter-spacing: 0.75px;
  }

  .formatted-price {
    font-size: $font-size-x-large;
    font-weight: 700;
    &:after {
      content: 'per night';
      margin-left: 0.5rem;
      font-weight: 300;
      font-size: $font-size-small;
    }
  }

  .selected-number-of-nights {
    font-size: $font-size-small;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .formatted-price {
      font-weight: 300;
      font-size: $font-size-small;
      &:after {
        content: '';
        margin-right: 0.3rem;
      }
    }
    .number-of-nights-text {
      &::before {
        content: '*';
        margin-left: -0.3rem;
        margin-right: 0.3rem;
      }
      &:after {
        content: 'nights';
        margin-left: 0.3rem;
      }
    }
  }
  &__date-range-picker {
    margin-bottom: $s-size;
  }
}
