.booking-options-box {
  border: 1px solid #f0eeee;
  padding: 2rem;
  background-color: $off-white;
  .button {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 2rem 0;
    font-weight: 600;
    letter-spacing: 0.75px;
  }

  .formatted-price {
    font-size: $font-size-x-large;
    font-weight: 700;
    &:after {
      content: 'per night';
      margin-left: 0.5rem;
      font-weight: 300;
      font-size: $font-size-small;
    }
  }
  &__date-range-picker {
    margin-bottom: $s-size;
  }
}
